.main-form{
    width:30%;
    text-align: center;
    margin-top: 30px;
    border : 2px solid red;
    margin-left: 600px;
    padding:20px;
    background-color: antiquewhite;
}

.expenses{
    margin: 10px;

}
.expenses input{
    font-size: larger;

}

.discription{
    margin:10px;
}

.discription input{
    display: flex;
    width: 90%;
    text-align: left;
    font-size: larger;
    padding:4px;
}

.category{
    margin-right: 80px;
    margin-top: 20px;
}
.category select{
    font-size: larger;
    margin-left: 30px;
}

.form-label{
    color: black;
    font-weight: bold;
    font-size: larger;
}